@model IEnumerable<AlfieTodoList.Models.TodoItem>


    <h2>My List:</h2>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @(ViewData["Percentage"])%;  transition: width 2s;"></div>
    </div>
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.isDone, new { id = item.Id, @class = "checkbox" })
                    </td>
                    <td>
                        @if (item.isDone)
                        {
                            <div class="text-decoration-line-through">@Html.DisplayFor(modelItem => item.Name)</div>

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Name)

                        }
                    </td>
                    <td>
                        <button id="@item.Id" class="btn-delete"><i class="fa-regular fa-trash-can" style="color: #000000;"></i></button>
                        @*<form asp-action="Delete" method="post">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script src="~/js/Custom_Scripts/CheckboxListener.js"></script>